.cards-wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
}
.card-item {
    position: relative;
    margin-bottom: 40px;
    width: 290px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.card-header {
    height: 70px;
}
.card-poster {
    height: 280px;
    border-radius: 5px 5px 0 0;
}
.card-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 0;
    padding: 10px 0;
    border: 1px solid;
    border-color: #cecece transparent #cecece transparent;
}
.rank-star {
    font-size: 1.5rem;
    width: 30px;
    color: rgb(243, 207, 4);
    filter: drop-shadow(-1px -1px 0.3px rgba(0, 0, 0, 0.25));
}
.links {
    color: rgb(0, 170, 255);
    padding: 5px;
    transition: all 0.3s;
}
.links:hover {
    text-decoration: none;
}

.navbar-wrap {
    height: 100px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-btn {
    width: 250px;
    margin-right: 30px;
}

.list-items {
    width: 100%;
}

.list-item {
    margin: 20px 0;
    padding: 0 20px;
    height: 180px;
    display: flex;
    align-items: center;
}
.list-poster {
    width: 120px;
}

.thumbs-up, .thumbs-down {
    font-size: 1.3em;
}
.card-remove {
    position: absolute;
    top: 0;
    color: white;
    font-size: 2rem;
    padding: 0 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px 0 5px 0;
}